<h1> input your search below </h1>

<% if @tweets %>
<%= pluralize(@tweets, 'tweets'); %>
<% end %>
<% if @search %> 
<% @search %> 
<% end %> 

<%= form_tag("results", method: "get") do %>
    <%= label_tag(:search, "Search for:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>